.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/3EB48905/sources/session-4810ba45/lock_file
.Rproj.user/3EB48905/sources/session-4810ba45/DAD49415-contents
.Rproj.user/3EB48905/sources/session-4810ba45/865196A6-contents
.Rproj.user/3EB48905/sources/session-4810ba45/837A2CDB-contents
.Rproj.user/3EB48905/sources/session-4810ba45/837A2CDB
.Rproj.user/3EB48905/sources/session-4810ba45/57B849D0-contents
.Rproj.user/3EB48905/sources/prop/INDEX
.Rproj.user/3EB48905/sources/prop/9903AB13
.Rproj.user/3EB48905/sources/prop/39230E6F
.Rproj.user/3EB48905/saved_source_markers
.Rproj.user/3EB48905/rmd-outputs
.Rproj.user/3EB48905/persistent-state
.Rproj.user/3EB48905/pcs/workbench-pane.pper
.Rproj.user/3EB48905/pcs/windowlayoutstate.pper
.Rproj.user/3EB48905/pcs/source-pane.pper
.Rproj.user/3EB48905/pcs/files-pane.pper
.Rproj.user/3EB48905/sources/session-43911680/lock_file
.Rproj.user/3EB48905/sources/session-43911680/DAD49415-contents
.Rproj.user/3EB48905/sources/session-43911680/C4D9E024-contents
.Rproj.user/3EB48905/sources/session-43911680/C4D9E024
.Rproj.user/3EB48905/sources/session-43911680/90DAE617-contents
.Rproj.user/3EB48905/sources/session-43911680/865196A6-contents
.Rproj.user/3EB48905/sources/session-43911680/837A2CDB-contents
.Rproj.user/3EB48905/sources/session-43911680/57B849D0-contents
.Rproj.user/3EB48905/sources/prop/E0F0F96E
.Rproj.user/3EB48905/sources/prop/BDB942CF
.Rproj.user/3EB48905/jobs/30C1FE31-output.json
.Rhistory
.Rproj.user/3EB48905/sources/prop/68F2D346
.Rproj.user/3EB48905/sources/session-31c25841/C4D9E024
.Rproj.user/3EB48905/sources/session-31c25841/C4D9E024-contents
.Rproj.user/3EB48905/sources/session-31c25841/lock_file
Old Versions/r_shiny_app_code_v2.R
Old Versions/rshiny_app_code.R
Old Versions/v3.R
Old Versions/v4.R
.RData
*.Rproj
*.docx
